<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="peopleDataFileName" value="folks.json" />
		<add key="itemVariantsFileName" value="itemVariants.json" />
		<add key="locationsFileName" value="locations.json" />
		<add key="mainDataFileName" value="MainData.json" />
	</appSettings>
</configuration>